---
import { getCollection, render } from 'astro:content';
import { getPublishedPosts } from '../../lib/getPosts';
import PostTable from '../../components/widget/PostTable.astro';
import ContentLayout from '../../layouts/ContentLayout.astro';

export async function getStaticPaths() {
	const authors = await getCollection('authors');
	return authors.map((author) => ({
		params: { id: author.id },
		props: { author },
	}));
}
const { author } = Astro.props;
const { Content } = await render(author);

const postsByAuthor = (await getPublishedPosts())
	.filter(post =>  post.data.authors.some(item => item.id === author.id))

let gatheringsByAuthor = await getCollection('gatherings', ({ data }) => {;
	return data.authors.some(item => item.id === author.id);
});

const newslettersByAuthor = await getCollection('newsletters', ({ data }) => {;
	return data.authors.some(item => item.id === author.id);
});
---

<ContentLayout title={author.data.title}>
	<div class="mx-auto mt-6 w-full max-w-7xl grow">
		<div class="flex flex-row">
			<div class="relative h-24 w-64">
				<a href="/authors/1"
						 class="bg-sky-600 block text-white h-24 w-64 cursor-pointer rounded-t-4xl py-6 text-center translate-y-5 font-mono text-lg transition-transform duration-300 ease-in-out hover:translate-y-3">authors</a>
			</div>
		</div>
		<div class="border-sky-600 relative flex flex-row border-10 bg-white">
			<main class="relative w-full flex-1 px-4 py-8 lg:min-w-3xl">
				<article class="m-auto max-w-5xl text-lg">
					<h1 class="text-4xl font-semibold dark:text-gray-50" set:html={author.data.title} />
					{author.data.qid && <span class="text-xl">CELL Project: <a class="text-red-500 underline hover:no-underline" href={`https://cellproject.net/person/${author.data.qid}`}>{author.data.qid}</a></span>}
					<div class="prose mb-4">
						<Content />
					</div>
					{postsByAuthor.length > 0 && (
						<h2 class="text-3xl font-semibold">Posts</h2>
						<PostTable posts={postsByAuthor} />
					)}
					{gatheringsByAuthor.length > 0 && (
						<h2 class="text-3xl font-semibold">Gatherings</h2>
						<PostTable posts={gatheringsByAuthor} />
					)}
					{newslettersByAuthor.length > 0 && (
						<h2 class="text-3xl font-semibold">Newsletters</h2>
						<PostTable posts={newslettersByAuthor} />
					)}
				</article>
			</main>
		</div>
	</div>
</ContentLayout>



