---
import { postTypeColors, postTypes } from '../../lib/postTypes';
import ContentLayout from '../../layouts/ContentLayout.astro';
import { capitalizeFirstLetter } from '../../lib/utils';
import { getPublishedPosts } from '../../lib/getPosts';

import Pagination from '../../components/ui/Pagination.astro';
import PostTable from '../../components/widget/PostTable.astro';

export async function getStaticPaths({ paginate }) {
	const allPosts = await getPublishedPosts();
	return postTypes.flatMap((postType) => {
		const filteredPosts = allPosts.filter((post) => post.data.type === postType);
		return paginate(filteredPosts, {
			params: { postType },
			pageSize: 20,
		});
	});
}

const { page } = Astro.props;
const { postType }: { postType: (typeof postTypes)[number] } = Astro.params;
const title = capitalizeFirstLetter(postType) + 's';

const postTypeColor = postTypeColors[postType] || '#000';
---

<ContentLayout title={title}>
	<div class="mx-auto mt-30 w-full max-w-7xl grow" style={'--postTypeColor: ' + postTypeColor}>
		<div class="border-postType relative flex flex-row bg-white md:border-10">
			<main class="relative w-full flex-1 px-4 py-8 lg:min-w-3xl">
				<article class="m-auto max-w-5xl text-sm md:text-lg">
					<h1 class="mb-2 text-3xl">{title}</h1>
					<p class="mb-8 text-slate-500">Page {page.currentPage} of {page.lastPage}</p>
					<PostTable posts={page.data} showThread={true} />
				</article>

				<div class="mt-16">
					<Pagination page={page} />
				</div>
			</main>
		</div>
	</div>
</ContentLayout>
