---
import { postTypes } from '../../lib/postTypes';

export async function getStaticPaths() {
	return postTypes.map((type) => ({
		params: { postType: type },
	}));
}
const { postType } = Astro.params;
---
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{postType}</title>
	<meta http-equiv="refresh" content={`0;url=/${postType}s/1`} />
	<link rel="canonical" href={`/${postType}s/1`} />
</head>
<body>
<p>Redirecting to <a href={`/${postType}s/1`}>/{postType}s/1</a>…</p>
</body>
</html>